# Poetry and Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
poetry.lock
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# Frontend
node_modules/

# OS Files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Log files
*.log
logs/

# Local development configuration
.env.local
.env.development.local
.env.test.local
.env.production.local 
infra/.terraform/providers/registry.terraform.io/hashicorp/kubernetes/2.36.0/darwin_arm64/terraform-provider-kubernetes_v2.36.0_x5
infra/.terraform/providers/registry.terraform.io/hashicorp/google/6.29.0/darwin_arm64/terraform-provider-google_v6.29.0_x5
infra/terraform.tfstate.backup
infra/terraform.tfstate

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
.terraformrc
terraform.rc
.terraform.lock.hcl